bin/Debug/switcher.exe
bin/Debug/switcher.pdb
bin/Debug/switcher.vshost.exe.manifest
bin/Debug/switcher.vshost.exe
bin/Debug/switcher.xml
Multimedia/logo.psd
Multimedia/Logo/logo.psd
Multimedia/Icon/icon.psd
Multimedia/Icon/icon.png
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
obj/Debug/switcher.xml
obj/Debug/switcher.pdb
obj/Debug/switcher.exe
obj/Debug/Shollym Switcher.vbproj.FileListAbsolute.txt
obj/Debug/Shollym Switcher.vbproj.GenerateResource.Cache
obj/Debug/Jasarsoft.ShollymSwitcher.Resources.resources
obj/Debug/Jasarsoft.ShollymSwitcher.FormMain.resources